<?xml version="1.0"?>
<conf>
	<administrador>
		<name>OOD1_Admin</name>
		<email>ood1.0chief@gmail.com</email>
		<password>OOD1.0admin</password>
	</administrador>
	<directories>
		<experimentDir>C:\Users\bruno\Desktop</experimentDir>
		<problemsDir>C:\Users\bruno\Desktop\</problemsDir>
		<graphicsDir>C:\Users\bruno\Desktop</graphicsDir>
	</directories>
</conf>